<div class="container">
  <h2>Tìm kiếm vi phạm theo biển số</h2>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nhập biển số xe" [(ngModel)]="licensePlate" />
    <button class="btn btn-primary mt-2" (click)="searchViolations()">Tìm kiếm</button>
  </div>

  @if (violations.length > 0) {
    <div class="mt-3">
      <h3>Kết quả tìm kiếm</h3>
      <ul class="list-group">
        @for (violation of violations; track trackId(violation)) {
          <li class="list-group-item">
            <strong>Thời gian:</strong> {{ violation.violationTime }} <br />
            <strong>Địa điểm:</strong> {{ violation.location }} <br />
            <strong>Trạng thái:</strong> {{ violation.status }} <br />
            <video controls>
              <source
                src="http://localhost:9003/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL3Rlc3QvZ292ZXJubWVudC5tcDQ_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1WVlU5MjFCOEJFNFpUSzBQVEFVMiUyRjIwMjQxMTA1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTEwNVQwODI4MjVaJlgtQW16LUV4cGlyZXM9NDMyMDAmWC1BbXotU2VjdXJpdHktVG9rZW49ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhZMk5sYzNOTFpYa2lPaUpXVmxVNU1qRkNPRUpGTkZwVVN6QlFWRUZWTWlJc0ltVjRjQ0k2TVRjek1EZ3pPREU1TUN3aWNHRnlaVzUwSWpvaVVrOVBWRlZUUlZJaWZRLkRNeEZjOGkxb0hSeEpQZWNrVnNMdnVKemZCVV9zTnlJaGdYTjhuZThkaVFKWkhsMnBGOUl6cnlDeEhmT2FNTWRhNDhpTWJKUjNPSEhxM1pud00yRFFBJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZ2ZXJzaW9uSWQ9bnVsbCZYLUFtei1TaWduYXR1cmU9OTc4NTNhZThkNzAwNGNmNzkyY2Q1ZWU3NDIwNGFmYTU1MWVkNGNlZmRhOTZmNzg1MTBhYjhiNzdkMzY2OTUxZA"
                type="video/mp4"
              />
            </video>
          </li>
        }
      </ul>
    </div>
  }
</div>
