<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (typeViolation(); as typeViolationRef) {
      <div>
        <h2 data-cy="typeViolationDetailsHeading"><span jhiTranslate="project1App.typeViolation.detail.title">Type Violation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ typeViolationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="project1App.typeViolation.violationName">Violation Name</span></dt>
          <dd>
            <span>{{ typeViolationRef.violationName }}</span>
          </dd>
          <dt><span jhiTranslate="project1App.typeViolation.fineAmount">Fine Amount</span></dt>
          <dd>
            <span>{{ typeViolationRef.fineAmount }}</span>
          </dd>
          <dt><span jhiTranslate="project1App.typeViolation.violations">Violations</span></dt>
          <dd>
            @if (typeViolation()!.violations) {
              <div>
                <a [routerLink]="['/violations', typeViolation()!.violations?.id, 'view']">{{ typeViolationRef.violations?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/type-violation', typeViolationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
