<div>
  <h2 id="page-heading" data-cy="ViolationsHeading">
    <span jhiTranslate="project1App.violations.home.title">Violations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="project1App.violations.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-violations"
        [routerLink]="['/violations/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="project1App.violations.home.createLabel">Create a new Violations</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (violations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="project1App.violations.home.notFound">No Violations found</span>
    </div>
  }

  @if (violations && violations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="violationTime">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.violationTime">Violation Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="evidenceImage">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.evidenceImage">Evidence Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicleRegistrations.id">
              <div class="d-flex">
                <span jhiTranslate="project1App.violations.vehicleRegistrations">Vehicle Registrations</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (violations of violations; track trackId(violations)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/violations', violations.id, 'view']">{{ violations.id }}</a>
              </td>
              <td>{{ violations.violationTime | formatMediumDatetime }}</td>
              <td>{{ violations.location }}</td>
              <td>{{ violations.status }}</td>
              <td>{{ violations.evidenceImage }}</td>
              <td>{{ violations.createdAt | formatMediumDatetime }}</td>
              <td>
                @for (vehicleRegistrations of violations.vehicleRegistrations; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/vehicle-registrations', vehicleRegistrations.id, 'view']">{{
                      vehicleRegistrations.id
                    }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/violations', violations.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/violations', violations.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(violations)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
