<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-type-violation-heading"
        data-cy="TypeViolationCreateUpdateHeading"
        jhiTranslate="project1App.typeViolation.home.createOrEditLabel"
      >
        Create or edit a Type Violation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="project1App.typeViolation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_violationName" jhiTranslate="project1App.typeViolation.violationName">Violation Name</label>
          <input
            type="text"
            class="form-control"
            name="violationName"
            id="field_violationName"
            data-cy="violationName"
            formControlName="violationName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fineAmount" jhiTranslate="project1App.typeViolation.fineAmount">Fine Amount</label>
          <input
            type="number"
            class="form-control"
            name="fineAmount"
            id="field_fineAmount"
            data-cy="fineAmount"
            formControlName="fineAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_violations" jhiTranslate="project1App.typeViolation.violations">Violations</label>
          <select
            class="form-control"
            id="field_violations"
            data-cy="violations"
            name="violations"
            formControlName="violations"
            [compareWith]="compareViolations"
          >
            <option [ngValue]="null"></option>
            @for (violationsOption of violationsSharedCollection; track $index) {
              <option [ngValue]="violationsOption">{{ violationsOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
